.card {
  display: grid;
  place-content: center;
  padding: 4rem 1rem;
  border-radius: 2rem;
  border: 1.5px solid #262524;
  color: #e7e7e7;
  background: rgb(2, 88, 255);
  background: linear-gradient(
    180deg,
    rgba(2, 88, 255, 1) 0%,
    rgba(18, 101, 255, 1) 50%,
    rgba(65, 140, 255, 1) 100%
  );
  box-shadow: 7px 13px 25px 0px rgba(0, 0, 0, 0.75);
  font-family: 'Josefin Slab', serif;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &-title {
    h2 {
      margin-bottom: 1rem;
      font-size: 3rem;
      text-align: center;
    }
  }

  &-body {
    text-align: center;

    .temperature {
      font-size: 6rem;
      font-weight: bold;
    }

    p {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
