.alert {
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  background-color: #dd5252;
  color: white;
  border-radius: 2rem;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 2rem;
  font-weight: bold;
}
