@font-face {
  font-family: 'Amatic SC', cursive;
  src: url('./assets/fonts/AmaticSC-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Slab', serif;
  src: url('./assets/fonts/JosefinSlab-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Slab', serif;
  src: url('./assets/fonts/JosefinSlab-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
